@font-face {
  font-family: Roboto;
  src: url(./../fonts/Roboto/Roboto-Regular.ttf) format(truetype);
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: Roboto;
  src: url(./../fonts/Roboto/Roboto-Medium.ttf) format(truetype);
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: Roboto;
  src: url(./../fonts/Roboto/Roboto-Bold.ttf) format(truetype);
  font-style: normal;
  font-weight: 700; }
body {
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

img {
  display: block;
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: none; }

*, *::before, *::after {
  box-sizing: border-box; }

input::placeholder {
  color: inherit; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

dd {
  margin: 0; }

p {
  margin: 0; }

body {
  font-family: Roboto, sans-serif, serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333333; }

.container {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto; }

.visually-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none; }

.logo {
  display: flex;
  align-items: center; }
  .logo__img {
    max-width: 80px; }
  .logo__name {
    margin-left: 20px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.1em;
    color: #f13c6e; }

.search {
  position: relative; }
  .search__label::after {
    position: absolute;
    top: 10px;
    left: 20px;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(./../img/icon/search.svg);
    background-repeat: no-repeat; }
  .search__input {
    height: 40px;
    padding: 10px 10px 10px 50px;
    border: none;
    border-radius: 40px;
    outline: none;
    background-color: #efefef; }

.button {
  display: inline-block;
  width: 170px;
  height: 35px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  background-color: #f13c6e;
  letter-spacing: 0.05em;
  line-height: 35px;
  text-align: center;
  color: #ffffff; }
  .button--white {
    height: 40px;
    border: 2px solid #f13c6e;
    border-radius: 40px;
    background-color: #ffffff;
    line-height: 40px;
    color: #000000; }
  .button--big {
    height: 45px;
    line-height: 45px;
    border-radius: 40px; }
  .button--small {
    width: 130px;
    border: none; }

.callback {
  display: flex;
  align-items: center; }
  .callback__phone {
    font-size: 16px;
    line-height: 1.187;
    color: #000000; }
  .callback__button {
    margin-left: 40px; }

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  color: #000000; }

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;
  padding: 25px 30px;
  background-color: #ffffff;
  text-align: center; }
  .product__text {
    max-width: 195px; }
  .product__price {
    font-weight: 500;
    font-size: 21px;
    line-height: 1.19;
    letter-spacing: 0.05em;
    color: #000000; }

.card {
  display: flex;
  align-items: center;
  flex-basis: 540px;
  padding: 35px 45px 35px 40px;
  background-color: #f13c6e;
  color: #ffffff; }
  .card__block {
    display: flex;
    flex-direction: column;
    gap: 25px 0; }
  .card__title {
    width: 250px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.166; }
  .card__text--short {
    max-width: 141px; }
  .card__input {
    max-width: 225px;
    padding: 9px 25px;
    background: #FFFFFF;
    border-radius: 30px;
    outline: none;
    border: none; }
    .card__input::placeholder {
      color: #c4c4c4; }
  .card__img {
    margin-left: 65px; }
    .card__img--mail {
      width: 140px; }
    .card__img--truck {
      width: 188px;
      margin-left: 7px; }

.nav {
  background: #ffffff; }
  .nav__inner {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.menu {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  background: #e5e5e5; }
  .menu__list {
    display: flex;
    align-items: center; }
  .menu__item:not(:last-child) {
    margin-right: 30px; }
  .menu__link:hover {
    text-decoration: underline; }

.header {
  background: url(./../img/background/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff; }
  .header__inner {
    display: flex;
    align-items: center;
    height: 684px; }
  .header__title {
    margin-bottom: 56px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.166; }
  .header__text {
    max-width: 308px;
    margin-bottom: 56px; }

.offer {
  padding: 80px 0 50px;
  background-color: #e5e5e5; }
  .offer__title {
    margin-bottom: 38px; }
  .offer__product {
    display: flex;
    align-items: center;
    gap: 0 30px; }

.cards {
  padding: 50px 0;
  background-color: #e5e5e5; }
  .cards__inner {
    display: flex;
    gap: 30px; }

.brands {
  padding: 50px 0 40px;
  background-color: #e5e5e5; }
  .brands__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 1px; }
  .brands__item {
    padding: 35px 60px;
    background-color: #ffffff; }

.watched {
  padding: 40px 0 80px;
  background-color: #e5e5e5; }
  .watched__title {
    margin-bottom: 40px; }
  .watched__product {
    display: flex;
    align-items: center;
    gap: 30px; }

.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0; }
.footer__messenger {
  display: flex;
  align-items: center;
  gap: 0 20px; }
.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.1428;
  color: #000000; }
.footer__policy {
  background-color: #e5e5e5; }
.footer__rights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0; }
.footer__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #828282; }

/*# sourceMappingURL=main.css.map */
