body {
	font-family: Roboto, sans-serif, serif;
	font-size: 14px;
	line-height: 1.4;
	color: #333333;
}

.container {
	max-width: 1130px;
	padding: 0 10px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
