// Main color

$accent1: #e5e5e5;
$accent2: #f13c6e;
$accent3: #333333;
$accent4: #ffffff;

// Text

$text1: #333333;
$text2: #ffffff;
$text3: #000000;

$title1: #000000;
$title2: #ffffff;

// Links

$link1: #000000;
$link2: #ffffff;
$link3: #828282;

$nav-link: #333333;

// Input 

$input: #efefef;
$input2: #c4c4c4;
